/* * {
    border: solid 1px;
} */

button:hover {
    cursor: pointer;
}

/* Class and ID Styling */
.departures-image {
    background-image: url('../images/departures2.jpg');
    background-size: cover;
}

.header {
    background-color: rgba(56, 20, 136, 0.6);
}

.search-div {
    background-color: rgba(56, 20, 136, 0.4);
    color: white;
    width: 435px;
    padding-left: 5px;
}

.comingSoon {
    display:block;
   margin-left:auto;
   margin-right:auto;
   width:60%;
   height:auto;
}
.weather-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.currency-display {
    text-align: center;
    background-color: rgba(56, 20, 136, 0.4);
    color: white;
}

.five-day-display {
    height: 60vh;
    width: auto;
}

.cancun-image {
    background-image: url('../images/beach-photo.jpg');
    background-size: cover;
}

.london-image {
    background-image: url('../images/London.jpg');
    background-size: cover;
}

.paris-image {
    background-image: url('../images/Paris.jpg');
    background-size: cover;
}

.rio-image {
    background-image: url('../images/Rio.jpg');
    background-size: cover;
}

.miami-image {
    background-image: url('../images/Miami2.jpg');
    background-size: cover;
}

#search-history {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#city {
    height: 30px;
    width: 220px;
}

.searchBtn {
    background-color: #279e33;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
}

#clear-history {
    background-color: #E0A800;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 12fr;
}

.icon {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    position: relative;
    top: 6px;
}

.forecast-display-colour {
    background-color: rgba(56, 20, 136, 0.4);
    color: white;
    margin: 0.5%;
    text-align: center;
    margin-bottom: 10px;
}

#five-day-heading {
    margin-left: 10px;
}

#five-day-heading {
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .five-day-display {
        height: 100vmax;
        width: auto;
    }
}