/* * {
    border: solid 1px;
} */
/* Class and ID Styling */
.departures { 
    background-image: url('../images/departures2.jpg');
    background-size: cover;
}

#search-history {
    margin-top: 10px;
}